<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <style>
      .content__search {
        background-color: #f8fafa;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        cursor: pointer;
        position: relative;
        height: 100%;
        z-index: 10;
      }
      .content__search b {
        color: #2b78c9;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-weight: bold;
        font-size: 0.88rem;
        display: block;
        text-align: center;
      }
      .content__search em {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-style: normal;
        font-size: 0.75rem;
        display: block;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <noscript>
      <strong
        >We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work
        properly without JavaScript enabled. Please enable it to
        continue.</strong
      >
    </noscript>
    <div class="content__search" id="BXPopupWindowShowButton">
      <div>
        <b>Найти в Битрикс24</b>
        <em>Открыть окно "Битрикс24.Диск"</em>
      </div>
    </div>
    <div id="BXPopupWindow"></div>
    <!-- built files will be auto injected -->
    <script src="<%= BASE_URL %>storageList.js"></script>
    <script>
      window.addEventListener('load', () => {
        document
          .getElementById('BXPopupWindowShowButton')
          .addEventListener('bx.popup.window.download', (e) => {
            console.log(e.detail.files);
          });
      });
    </script>
  </body>
</html>
