<template>
  <div class="bx-file-dialog-container">
    <file-dialog-tab></file-dialog-tab>
    <file-dialog-content></file-dialog-content>
  </div>
</template>

<script>
import FileDialogContent from './FileDialogContent.vue';
import FileDialogTab from './file-dialog/FileDialogTab.vue';

export default {
  name: 'FileDialogContainer',
  components: {
    FileDialogContent,
    FileDialogTab,
  },
};
</script>

<style>
.bx-file-dialog-container {
  height: 290px;
  margin-left: 3px;
  margin-right: 0;
  margin-top: 10px;
  white-space: nowrap;
}
.bx-file-dialog-tab {
  width: 192px;
  height: 288px;
  background-color: #f5f5f5;
  border: 1px solid #e9e9e9;
  border-radius: 3px;
  margin-right: 5px;
  vertical-align: top;
  float: left;
}
.bx-file-dialog-tab-wrap {
  width: 187px;
  height: 276px;
  overflow: auto;
  margin-left: 5px;
  margin-top: 6px;
  margin-bottom: 6px;
}
.bx-file-dialog-tab-group-title {
  font: 13px/22px Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #555;
  margin-top: 4px;
  padding-left: 5px;
}
.bx-file-dialog-tab-group {
  margin-top: 10px;
  padding-top: 5px;
  border-top: 1px solid #e4e4e4;
  margin-left: 4px;
  margin-right: 4px;
}
.bx-file-dialog-tab-group:first-child {
  margin-top: -2px;
  border-top: 0;
  padding-top: 0;
}
.bx-file-dialog-tab-item {
  margin-top: 5px;
}
.bx-file-dialog-tab-item-link {
  display: inline-block;
  font: 13px Arial, Helvetica, sans-serif;
  color: #666 !important;
  line-height: 22px;
  vertical-align: top;
  height: 21px;
  text-decoration: none;
  vertical-align: top;
  outline: 0;
}
.bx-file-dialog-tab-item-active .bx-file-dialog-tab-item-link-text,
.bx-file-dialog-tab-item-link:hover .bx-file-dialog-tab-item-link-text {
  background-color: #e2e2e2;
  color: #000 !important;
  border: 1px solid #d7d7d7;
  border-right: 0;
  border-radius: 3px;
}
.bx-file-dialog-tab-item-link-text {
  padding-left: 4px;
  display: inline-block;
  height: 23px;
  width: 156px;
  border: 1px solid #f5f5f5;
  border-right: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: top;
}
.bx-file-dialog-tab-item-link-arrow {
  height: 23px;
  width: 6px;
  display: inline-block;
  margin-left: -1px;
}
.bx-file-dialog-tab-item-active .bx-file-dialog-tab-item-link-arrow,
.bx-file-dialog-tab-item-link:hover .bx-file-dialog-tab-item-link-arrow {
  background: url('../assets/file-dialog-sprite.png') -14px -421px no-repeat;
}
</style>
