<template>
  <span>
    <span
      v-if="index !== 0"
      class="bx-file-dialog-content-path-seporator bx-file-dialog-icon bx-file-dialog-icon-seporator"
    ></span
    ><a
      href="#library"
      @click="clickPathItem"
      class="bx-file-dialog-content-path-link"
      >{{ name }}</a
    ></span
  >
</template>

<script>
export default {
  name: 'FileDialogContentPathItem',
  props: {
    name: String,
    size: String,
    id: String,
    index: Number,
  },
  methods: {
    clickPathItem() {
      if (this.index === 0) {
        //storage
        //get children
        this.$store.dispatch('getChildren', { id: this.id, type: 'storage' });
        //set path chain
        this.$store.commit('setPathChain', {
          name: this.name,
          id: this.id,
          type: 'storage',
        });
      } else {
        //folder
        //get children
        this.$store.dispatch('getChildren', { id: this.id, type: 'folder' });
        //add path chain
        this.$store.commit('setPathChain', {
          name: this.name,
          id: this.id,
          type: 'folder',
        });
      }
    },
  },
};
</script>

<style>
.bx-file-dialog-content-path-seporator {
  display: inline-block;
  height: 19px;
  font: 11px Arial, Helvetica, sans-serif;
  text-decoration: none;
  line-height: 19px;
  width: 9px;
  text-align: center;
  vertical-align: top;
}
.bx-file-dialog-content-path-link {
  display: inline-block;
  padding: 0 4px;
  height: 19px;
  font: 11px Arial, Helvetica, sans-serif;
  color: #999 !important;
  text-decoration: none;
  line-height: 19px;
  vertical-align: top;
}
.bx-file-dialog-content-path-link:hover {
  background-color: #f1f2f2;
  color: #666 !important;
}
.bx-file-dialog-content-path-link-active:hover {
  color: #2f2f2f !important;
}
.bx-file-dialog-content-path-link-active {
  color: #666 !important;
}
</style>
