<template>
  <div
    @click="clickFile"
    class="bx-file-dialog-row bx-file-dialog-row-normal"
    :class="{
      'bx-file-dialog-row-selected': $store.state.selectedFiles.some(
        (el) => el.ID === fileObject.ID
      ),
    }"
    data-id="n59980"
  >
    <span
      class="bx-file-dialog-column-row bx-file-dialog-column-name"
      style="width: 310px"
      :title="`Название: ${fileObject.NAME}`"
      ><a
        href="#"
        class="
      bx-file-dialog-content-link
      bx-file-dialog-icon
      bx-file-dialog-icon-file
      "
        onclick="javascript:void(0);"
        >{{ fileObject.NAME }}</a
      ></span
    ><span
      class="bx-file-dialog-column-row bx-file-dialog-column-size"
      style="width: 79px"
      :title="`: 78.59 КБ`"
      >{{ size }}</span
    ><span
      class="
      bx-file-dialog-column-row bx-file-dialog-column-modifyBy
      "
      style="width: 122px"
      :title="`Кто изменил: ${updatedBy}`"
      >{{ updatedBy }}</span
    ><span
      class="
      bx-file-dialog-column-row bx-file-dialog-column-modifyDate
      "
      style="width: 90px"
      :title="`Изменен: 13.08.2021`"
      >{{ updateTime }}</span
    >
  </div>
</template>

<script>
export default {
  data() {
    return {
      updatedBy: '',
      size: this.formatSize(this.fileObject.SIZE),
    };
  },
  props: {
    fileObject: Object,
  },
  computed: {
    updateTime() {
      const date = new Date(this.fileObject.UPDATE_TIME);
      let month = date.getMonth() + 1;
      month = String(month).length === 1 ? `0${month}` : month;
      let day = date.getDate();
      day = String(month).length === 1 ? `0${day}` : day;
      return `${day}.${month}.${date.getFullYear()}`;
    },
  },
  methods: {
    highlight() {
      let flag = this.$store.state.selectedFiles.some((fileObject) => {
        fileObject.id === this.fileObject.ID;
      });

      if (flag) {
        //add to the storage
        this.$store.commit('selectFile', this.fileObject);
      }
    },
    selectDeselect() {
      let flag = this.$store.state.selectedFiles.some((fileObj) => {
        return fileObj.ID === this.fileObject.ID;
      });

      if (flag) {
        //remove from the storage
        this.$store.commit('deselectFile', this.fileObject.ID);
      } else {
        //add to the storage
        this.$store.commit('selectFile', this.fileObject);
      }
    },
    clickFile() {
      this.selectDeselect();
    },
    formatSize(length) {
      var i = 0,
        type = ['Б', 'КБ', 'МБ', 'ГБ', 'ТБ', 'ПБ'];
      while ((length / 1000) | 0 && i < type.length - 1) {
        length /= 1024;
        i++;
      }
      return length.toFixed(2) + ' ' + type[i];
    },
  },
  mounted() {
    //user name
    if (window.BX24) {
      window.BX24.callMethod(
        'user.get',
        { ID: this.fileObject.UPDATED_BY },
        (result) => {
          if (result.error()) {
            throw Error(result.error());
          } else {
            this.updatedBy = `${result.data()[0].NAME} ${
              result.data()[0].LAST_NAME
            }`;
          }
        }
      );
    }
    //select/deselect
    this.highlight();
  },
};
</script>

<style>
.bx-file-dialog-row {
  border-top: 0 solid #f0f0f0;
  height: 32px;
  padding-top: 1px;
  background-color: #fff;
}
.bx-file-dialog-row:first-child {
  border-top: 0 solid #f0f0f0;
  height: 32px;
  padding-top: 1px;
}
.bx-file-dialog-row:nth-child(odd) {
  background-color: #fff;
}
.bx-file-dialog-row:nth-child(even) {
  background-color: #fbfbfb;
}
.bx-file-dialog-row-normal:hover {
  background-color: #f1f2f2;
}
.bx-file-dialog-column-row {
  display: inline-block;
  font: 13px Arial, Helvetica, sans-serif;
  color: #666;
  line-height: 32px;
  vertical-align: top;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 32px;
  margin-left: 4px;
}
.bx-file-dialog-row-disabled .bx-file-dialog-column-row {
  opacity: 0.4;
}
.bx-file-dialog-column-row-1.bx-file-dialog-row-disabled:hover {
  background-color: #fff;
}
.bx-file-dialog-column-row-2.bx-file-dialog-row-disabled:hover {
  background-color: #fbfbfb;
}
.bx-file-dialog-row-selected {
  background-color: #dbdddf !important;
}
.bx-file-dialog-row-selected:hover {
  background-color: #d5d5d5 !important;
}
</style>
