<template>
  <div class="bx-file-dialog-header">
    <file-dialog-sort-link
      v-for="link in $store.state.sortLinks"
      :key="link.title"
      v-bind="link"
    ></file-dialog-sort-link>
  </div>
</template>

<script>
import FileDialogSortLink from './FileDialogSortLink.vue';

export default {
  components: {
    FileDialogSortLink,
  },
};
</script>

<style>
.bx-file-dialog-header {
  margin-left: 5px;
  border-bottom: 1px solid #f0f0f0;
  height: 24px;
  margin-top: 6px;
}
</style>
